<footer>
    <div class="social-links">
        <a href="https://linkedin.com/in/mahendra-palecha" target="_blank"><img src="images/social/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://twitter.com/PalechaMahen" target="_blank"><img src="images/social/twitter.svg" alt="Twitter"></a>
        <a href="https://youtube.com/@MahiCraftInc" target="_blank"><img src="images/social/youtube.svg" alt="YouTube"></a>
        <a href="https://instagram.com/mahicraftinc" target="_blank"><img src="images/social/instagram.svg" alt="Instagram"></a>
    </div>
    <p>Thank you for taking time to read.</p>
</footer>