<header>
    <h1>MAHENDRA PALECHA</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="https://www.linkedin.com/newsletters/shymaple-s-thoughts-6980775501569150976/">Blog</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="most.html">MOST</a></li>
            <li><a href="mailto:mpalechaiitk@gmail.com">Let's talk</a></li>
        </ul>
    </nav>
</header>